<div class="card" >
  <div class="card-header">
   {{titre}} {{rating_text}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
       filtered by:
      </div>
      <div class="col-md-4">
         <input type="text" [(ngModel)]='searchText'/>
       </div>
      <div class="col-sm-6">

       </div>
      <div class="col-md-6">
        <h4>filtered by: {{searchText}}</h4>
      </div>
    </div>
  </div>



  <div class="table-responsive" *ngIf="products && products.length">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">
            <button (click)="onClickHide()" class="btn btn-primary">{{isHidden?'Afficher': 'Cacher' }} image</button>
          </th>
          <th scope="col">Produit</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">Star rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filterProducts">
          <th scope="row"><img [src]='product.imageUrl'
                              [style.width.px]="imageWidth"
                              [style.margin.px]="imageMargin"
                              [hidden]="isHidden">
                            </th>
          <td><a [routerLink]="['/product',product.productId]" >{{product.productName}}</a></td>
          <td>{{product.productCode| lowercase| customPipe:'-':' '}}</td>
          <td>{{product.releaseDate|date:'dd/MM/yyyy'}}</td>
          <td>{{product.price|currency:'EUR':'symbol':'1.2-2'}}</td>
          <!-- <td>{{product.starRating}}</td> -->
          <td><star [rating]='product.starRating' (notif)='onNotif($event)'></star></td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
